{% extends 'cursos/base_cursos.html' %}

{% block title %}Cursos Disponíveis - Thainá's Classroom{% endblock %}

{% block page_title %}Cursos Disponíveis{% endblock %}

{% block content %}
<div class="row">
    {% for curso in cursos_disponiveis %}
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <h3 class="profile-username text-center">{{ curso.titulo }}</h3>
                <p class="text-muted text-center">{{ curso.descricao|truncatewords:15 }}</p>
                <a href="{% url 'cursos:inscrever_curso' pk=curso.pk %}" class="btn btn-success btn-block"><b>Inscrever-se</b></a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info text-center">
            Parabéns! Você já está matriculado(a) em todos os nossos cursos.
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}