{% load static %}
{% block extra_css %}
<style>
.hero-background {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    width: 450px;
    height: 500px;
    background-image: url('{% static "img/FUNDO.png" %}');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

.hero-image-container {
    position: relative;
    z-index: 2;
}

</style>

{% endblock %}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hero-content">
                <h1>Domine o idioma que <span class="text-pink">abre portas</span> para o mundo na nossa <span
                        class="text-class">class!</span></h1>
                <p class="hero-subtitle">Aprender inglês pode ser leve, divertido e transformador</p>
                <a href="#inscricao" class="btn-rounded">Ganhe gratuitamente um e-book exclusivo para aprimorar seu inglês!</a>
            </div>
            <div class="col-lg-6 position-relative">
                  <div class="hero-background"></div>
                <div class="hero-image-container">
                    <img src="{% static 'img/thaina.png' %}" alt="Teacher" class="hero-image">
                    <div class="class-on-badge">
                        <img src="{% static 'img/balao.png' %}" alt="USA Flag" class="flag-icon">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-pattern"></div>
</section>