{% load static %}
<section id="inscricao" class="contact-form">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact-info">
                    <h3 class="contact-title">FICOU COM ALGUMA DÚVIDA?<br>FALE COMIGO!</h3>
                    <p class="contact-subtitle">Aulas on-line e presenciais</p>
                    <div class="features-footer">
                        <p>Estude no seu ritmo e horário</p>
                        <p>Aprenda de onde quiser</p>
                        <p>Tenha acesso a diversas <span class="text-bold">recursos</span> e <span class="text-bold">plataformas online</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-container">
                    <ul class="nav nav-pills nav-fill mb-4" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="true">Criar Conta</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-ebook-tab" data-bs-toggle="pill" data-bs-target="#pills-ebook" type="button" role="tab" aria-controls="pills-ebook" aria-selected="false">Baixar E-book</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                            <h3 class="form-title text-center">Acesse os cursos</h3>
                            <p class="form-subtitle text-center">Crie sua conta para começar a estudar!</p>
                            <form method="post" action="{% url 'landing_page' %}#inscricao">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="register">

                                {{ registration_form.non_field_errors }}

                                <div class="mb-3">
                                    {{ registration_form.first_name.errors }}
                                    <label for="{{ registration_form.first_name.id_for_label }}">Nome Completo</label>
                                    {{ registration_form.first_name }}
                                </div>
                                <div class="mb-3">
                                    {{ registration_form.email.errors }}
                                    <label for="{{ registration_form.email.id_for_label }}">Seu melhor e-mail</label>
                                    {{ registration_form.email }}
                                </div>
                                <div class="mb-3">
                                    {{ registration_form.password.errors }}
                                    <label for="{{ registration_form.password.id_for_label }}">Crie uma senha</label>
                                    <br>
                                    {{ registration_form.password }}
                                </div>
                                <div class="mb-3">
                                    {{ registration_form.password2.errors }}
                                    <label for="{{ registration_form.password2.id_for_label }}">Confirme sua senha</label>
                                    <br>
                                    {{ registration_form.password2 }}
                                </div>

                                <button type="submit" class="btn btn-dark w-100">QUERO FAZER MINHA INSCRIÇÃO</button>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="pills-ebook" role="tabpanel" aria-labelledby="pills-ebook-tab">
                            <h3 class="form-title text-center">Ganhe um e-book exclusivo</h3>
                            <p class="form-subtitle text-center">E impulsione seu Inglês!</p>
                            <form method="post" action="{% url 'landing_page' %}#inscricao">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="ebook">

                                {{ ebook_form.non_field_errors }}

                                <div class="mb-3">
                                    {{ ebook_form.nome.errors }}
                                    <label for="{{ ebook_form.nome.id_for_label }}">Seu nome</label>
                                    {{ ebook_form.nome }}
                                </div>
                                <div class="mb-3">
                                     {{ ebook_form.email.errors }}
                                    <label for="{{ ebook_form.email.id_for_label }}">Seu melhor e-mail</label>
                                    {{ ebook_form.email }}
                                </div>

                                <button type="submit" class="btn btn-dark w-100">BAIXAR E-BOOK GRÁTIS</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>