{% load static %}
<section id="metodologia" class="para-quem">
    <div class="container">
        <h2 class="section-title text-center mb-4"><span class="text-muted">PARA QUEM É?</span></h2>
        <h3 class="section-subtitle text-center mb-5">Esse curso de inglês possui aulas <span class="text-pink">personalizadas</span> para:</h3>

        <div class="row justify-content-center">
            <div class="col-md-4 text-center feature-item">
                <img src="{% static 'img/icon-levels.png' %}" alt="Níveis" class="feature-icon">
                <h4 class="feature-title">Todos os níveis</h4>
                <p class="feature-text">Iniciante, Intermediário e Avançado</p>
            </div>

            <div class="col-md-4 text-center feature-item">
                <img src="{% static 'img/icon-ages.png' %}" alt="Idades" class="feature-icon">
                <h4 class="feature-title">Todas as idades</h4>
                <p class="feature-text">Crianças, Adolescentes e Adultos</p>
            </div>

            <div class="col-md-4 text-center feature-item">
                <img src="{% static 'img/icon-goals.png' %}" alt="Objetivos" class="feature-icon">
                <h4 class="feature-title">Todos os objetivos</h4>
                <p class="feature-text">Conversação, Trabalho e Viagens Internacionais</p>
            </div>
        </div>
    </div>
</section>

<section class="metodologia-detalhes">
    <div class="container">
        <div class="methodology-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="methodology-header">
                        <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="methodology-logo">
                        <h3 class="methodology-title">METODOLOGIA</h3>
                    </div>

                    <h3 class="method-title">Método <span class="text-pink">inovador</span> e <span class="text-pink">divertido</span>:</h3>

                    <div class="method-item">
                        <h4 class="method-subtitle">Aprendizagem dinâmica e interativa <i class="fas fa-chevron-down method-toggle"></i></h4>
                        <div class="method-content">
                            <p>Lorem ipsum dolor sit amet. Non qui voluptas ut laborum praesentium aut reprehenderit sunt ut sequi illo qui reiciendis aut voluptas quae ea dolor omnis ut sunt voluptatem.</p>
                        </div>
                    </div>

                    <div class="method-item">
                        <h4 class="method-subtitle">Materiais didáticos modernos e atualizados <i class="fas fa-chevron-down method-toggle"></i></h4>
                        <div class="method-content">
                            <p>Lorem ipsum dolor sit amet. Non qui voluptas ut laborum praesentium aut reprehenderit sunt ut sequi illo qui reiciendis aut voluptas quae ea dolor omnis ut sunt voluptatem.</p>
                        </div>
                    </div>

                    <div class="method-item">
                        <h4 class="method-subtitle">Teacher apaixonada por ensinar <i class="fas fa-chevron-down method-toggle"></i></h4>
                        <div class="method-content">
                            <p>Lorem ipsum dolor sit amet. Non qui voluptas ut laborum praesentium aut reprehenderit sunt ut sequi illo qui reiciendis aut voluptas quae ea dolor omnis ut sunt voluptatem.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div class="learning-english-box">
                        <h3 class="learning-title">Learning English <br>is for <span class="text-pink">you!</span></h3>
                        <img src="{% static 'img/student-learning.png' %}" alt="Student Learning" class="learning-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>