{% load static %}
<section id="sobre" class="about-teacher">
    <div class="container">
        <h2 class="section-title">ABOUT THE TEACHER</h2>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="teacher-name">Meu nome é <span class="text-pink">Thainá</span>, <br>mas podem me chamar <br>de teacher <span class="emoji">😊</span></h3>

                <div class="badges-container">
                    <span class="badge bg-white">Graduada em Letras - Português/Inglês</span>
                    <span class="badge bg-white">Pós-graduada em Ensino da Língua Inglesa</span>
                    <span class="badge bg-white">Apaixonada por crianças</span>
                    <span class="badge bg-white">Experiência em escolas bilíngues</span>
                    <span class="badge bg-white">Experiência em escolas de idiomas</span>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="teacher-image-container">
                    <img src="{% static 'img/thaina_2.png' %}" alt="Teacher" class="teacher-image">
                    <div class="teacher-badge">
                        Professora de <br>Inglês desde <br><span class="badge-year">2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-text">
        <h2 class="bg-title">Nice to meet you!</h2>
    </div>
</section>